---
import Section from '../components/ModelYSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import ModelYSection from '../components/ModelYSection.astro';
import ModelXSection from '../components/ModelXSection.astro';
import Model3Section from '../components/Model3Section.astro';
import ModelSSection from '../components/ModelSSection.astro';
import Powerwall from '../components/Powerwall.astro';
import CargaSection from '../components/CargaSection.astro';
---

<Layout title="Tesla">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelYSection />
		</div>
		<div class="snap-center">
			<Model3Section />
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>
		<div class="snap-center">
			<Powerwall />
		</div>
		<div class="snap-center">
			<CargaSection />
		</div>
	</main>
</Layout>