<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black">
  <div class="relative z-30 h-full flex flex-col pt-[152px]">
    <header class="flex flex-col justify-center items-center">
      <div>
        <h2 class="text-black text-[40px] font-medium tracking-[-0.7px]">Model Y</h2>
      </div>
      <div>
        <a href="#" class="text-black text-sm shadow-underline">Concertar una prueba de conducción</a>
      </div>
    </header>
    <footer class="flex flex-grow justify-end flex-col text-white pb-[28px]">
      <div class="gap-x-6 flex mx-auto">
        <a class="bg-neutral-700 text-neutral-200 text-sm rounded font-medium px-[62px] py-[10px] hover:bg-neutral-200 hover:text-neutral-800 transition-colors" href="#">
          Explorar inventario
        </a>
        <a class="text-neutral-800 bg-neutral-200 text-sm rounded font-medium px-[52px] py-[10px] hover:bg-black hover:text-white transition-colors inline-flex justify-center items-center" href="#">
          Pedido personalizado
        </a>
      </div>
    </footer>
    <div class="mb-[14px]">
      <a class="text-black text-[12px] shadow-underline" href="#">Disponible con Moves III</a>
    </div>
  </div>
  <div class="absolute top-0 bottom-0 object-contain w-full h-full">
    <img class="h-full object-cover w-full" src="ModelY.avif"></img>
  </div>
</section>