<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="white"
>
  <div class="relative z-30 h-full flex flex-col pt-[152px]">
    <header>
      <h2 class="text-white text-[40px] font-medium tracking-[-0.7px]">Disfrute de Tesla</h2>
      <p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>
    </header>
    <footer class="flex flex-grow justify-end flex-col text-white pb-[89px]">
      <div>
        <a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium px-[46px] py-[9px] hover:bg-white hover:text-black transition-colors" href="#">Prueba de conducción</a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 object-contain w-full h-full">
    <video class="h-full object-cover w-full" src="video.webm" autoplay muted loop></video=>
  </div>
</section>