---
import Section from "./Section.astro";
---

<Section 
  title="Disfrute de Tesla"
  color="white"
  >
    <div slot="subtitle">
      <p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>
    </div>
    <div slot="footer" class="pb-[89px]">
      <a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium px-[46px] py-[9px] hover:bg-white hover:text-black transition-colors" href="#">Prueba de conducción</a>
    </div>
  <video
  slot="background"
  class="h-full object-center object-cover w-full"
  autoplay
  muted
  loop 
  src="video.webm" 
  />
</Section>