---
import Section from "./Section.astro";

---

<Section
  title="Solar y Powerwall"
  color="black"
  id="powerwall"
>
  <div slot="subtitle">
    <p class="text-black text-sm ">Energia para todos</p>
  </div>
  <div slot="footer" class="pb-[89px]">
    <a class="border-[3px] border-[#1E2127] bg-[#1E2127] backdrop-blur-xl text-sm rounded font-medium px-[90px] py-[9px] hover:bg-white hover:text-black transition-colors" href="#">Saber más</a>
  </div>
  
  <img slot="background" class="h-full object-cover w-full" src="powerwall.avif"/>
</Section>